body {
  margin: 0;
  padding: 0;
  color: #003459;
  font-family: 'Raleway', sans-serif;
}

nav {
  background: #eaf6fc;
}

nav div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;

}

nav ul {
  list-style-type: none;
  margin-top: 1rem;
}

nav ul li {
  display: inline;
  padding: 20px;
}

nav ul li a {
  color: #003459;
  text-decoration: none;
}

#toggle-btn {
  border: none;
  background: #eaf6fc;
  display: none;
  font-size: 40px;
  outline: none;
  color: #003459;
}

#bars {
  display: none;
}

#close {
  display: none;
}

#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 300px 1000px 300px;
  grid-template-areas:
    "m m m m m m m m m m m m"
    "w w w w w w w w w w w w"
    "f f f f f f f f f f f f";
}

#box-1 {
  grid-area: m;
  background: #eaf6fc;
}

#box-1 div {
  width: 58%;
  height: 80%;
  margin: 70px auto auto 60px;
}

h1 {
  font-weight: 700;
  width: 90%;
}


#box-2 {
  grid-area: w;
  background-color: white;
}

#challenge-box {
  width: 85%;
  margin: 40px auto auto auto;
  text-align: center;
  font-size: 1.3em;
}

h4 {
  font-size: 1.5em;
  font-weight: 700;
}

#sustain-box {
  display: flex;
  width: 80%;
  margin: 60px auto auto auto;
}

#sustain-text {

  width: 55%;
  margin: 6.25%;
  font-size: 1.3em
}

#phone-img {
  width: 20%;
  margin: 6.25%;
  padding-left: 30px;
}

#join-box {
  width: 80%;
  margin: 40px auto auto auto;
  text-align: center;
  font-size: 1.3em;

}



#box-3 {
  grid-area: f;
  height: 100%;
  background-color: #003459;
  color: white;
  text-align: center;
}

footer {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  padding: 5px;
  text-align: left;

}

.footer-content ul li a {
  color: white;
  text-decoration: none;
}

.highlight {
  font-size: 1.3em;
  font-weight: 500;
}

#input {
  padding: 0;
  text-align: left;
}

#social-md {
  width: 50%;
  text-align: left;
  padding: 10px;
}

#social-md a {
  color: white;
}

#social-md a i {
  font-size: 25px;
}

hr {
  margin: 0 auto;
  width: 90%;
  border-style: solid;
  border-color: white;

}

#box-3 p {
  margin-top: 10px;
}

.inc {
  font-size: 0.8em
}


/*=============== FIRST MEDIA QUERY =========================*/
@media screen and (max-width: 905px) {
  #container {
    grid-template-rows: 300px 1050px 300px;
  }
}


@media screen and (max-width: 880px) {
  #box-1 div {
    width: 65%;

  }

}

@media screen and (max-width: 790px) {
  #container {
    grid-template-rows: 300px 1250px 300px;
  }

  nav ul {
    display: none;
  }

  #toggle-btn {
    display: block;
  }

  #bars {
    display: block;
    font-size: 0.6em;
  }

  #close {
    font-size: 1.5em;
  }

  #box-1 div {
    width: 70%;

  }

  #sustain-box {
    display: block;
    width: 85%;
    margin: 40px auto auto auto;
    text-align: center;

  }

  #sustain-text {
    width: 100%;
    margin: 40px auto auto auto;
    text-align: center;
  }

  #phone-img {
    width: 100%;
    margin: 40px auto auto auto;
    text-align: center;
    padding-left: 20px;
  }

  #phon-img img {
    height: 340px
  }

}

@media screen and (max-width: 730px) {
  #container {
    grid-template-rows: 300px 1300px 500px;
  }

  #box-1 div {
    width: 80%;
    margin: 70px auto auto 5px;
  }

  footer {
    width: 90%;
    margin: 20px auto;
    display: block;
    height: 400px;
  }

  .footer-content {
    width: 45%;
    margin: 0 2.5%;
    float: left;
  }

  #footer-form {
    width: 90%;
    margin: 5px 5%;
    padding: 10px;
    text-align: left;
  }

  #input input {
    width: 60%;
  }

  #input label {
    width: 25% !important;
  }

  #input label button {
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 640px) {
  #container {
    grid-template-rows: 300px 1350px 500px;
  }

}

@media screen and (max-width: 607px) {
  #container {
    grid-template-rows: 300px 1400px 500px;
  }
}

@media screen and (max-width: 538px) {
  #container {
    grid-template-rows: 300px 1450px 500px;
  }
}

@media screen and (max-width: 500px) {
  #container {
    grid-template-rows: 270px 1300px 500px;
  }
#box-1 div{
  width: 100%
}
  h1 {
    font-size: 1.6em
  }

  #challenge-box {
    font-size: 1em;
    margin-top: 60px;
  }

  h4 {
    font-size: 1.3em
  }

  #sustain-text {
    font-size: 1em
  }

  #join-box {
    font-size: 1em
  }

  .highlight {
    font-size: 1em
  }

  .footer-content ul li a {
    font-size: 0.8em
  }
  
}


@media screen and (max-width: 450px) {
  #container {
    grid-template-rows: 270px 1250px 500px;
  }
}
@media screen and (max-width: 380px) {
  #container {
    grid-template-rows: 250px 1280px 500px;
  }
  footer ul li{
    padding: 0;
  }
}
